/* Comments */
.comments-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	width: 100%;
	overflow: hidden;
}
.c-info {
	position: relative;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	background: rgba(8,8,8,0.6);
	color: white;
	font-style: italic;
	height: 50px;
	width: 100%;
}
.c-info:after {
	content: "";
	position: absolute;
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 20px 20px 0 20px;
	border-color: rgba(8,8,8,0.6) transparent transparent transparent;
	bottom: -20px;
	left: 48%;
}
.c-thread {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100%;
	overflow: hidden;
}
.ct-head {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	height: 50px;
	width: 80%;
	font-family: 'Amaranth', sans-serif;
	font-size: 25px;
	margin-top: 50px;
	border-bottom: 1px solid rgba(8,8,8,0.5);
}
.ct-img {
	width: 30px;
	height: 30px;
	margin-left: 10px;
}
.ct-form {
	width: 80%;
	margin-top: 20px;
}
textarea[placeholder] {
	font-family: 'Amaranth', sans-serif;
}
.w50 {
	width: 50%;
}
.vanish {
	position: absolute;
	left: -2000px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	font-size: 15px;
	font-family: 'Amaranth', sans-serif;
}
.button-box {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 20px;
}
.close {
	margin-left: 15px;
	font-size: 15px;
	font-family: 'Amaranth', sans-serif;
	opacity: 0.6;
}

.ct-comments {
	width: 80%;
}
.comment-wrap {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	margin-bottom: 30px;
}
.cw-img {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 100px;
}
.img-circle {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	width: 70px;
	height: 70px;
	font-family: 'Amaranth', sans-serif;
	font-size: 20px;
	color: white;
	border-radius: 50%;
	background: #ff003f;
	box-shadow: 0 0 8px black;
	text-transform: uppercase;
}
.cw-right {
	width: calc(100% - 100px);
}
.r-top, .r-middle {
	padding-bottom: 10px;
}
.r-top {
	display: flex;
	justify-content: space-between;
	font-family: 'Amaranth', sans-serif;
	font-weight: 600;
	font-size: 17px;
}
.timestamp, .glyphicon-minus {
	margin-left: 15px;
	opacity: 0.7;
	font-size: 14px;
}
.mini {
	margin-right: 15px;
	opacity: 0.3;
	cursor: pointer;
}
.r-middle {
	font-family: 'Fira Sans', sans-serif;
	padding-right: 15px;
}
.r-bottom {
	font-family: 'Amaranth', sans-serif; 
	color: #184F78;
}
.textbox {
	z-index: 100;
}
.textbox > p {
	font-family: 'Fira Sans', sans-serif !important; 
}
.reply-form {
	margin-left: 90px;
}
.full-comment {
	display: flex;
	flex-direction: column;
    background: white;
    border: 1px solid rgba(8,8,8,0.2);
    margin-bottom: 10px;
    padding-top: 10px;
    box-shadow: inset 0 0 10px rgba(8,8,8,0.2);
}
.reply-btn {
	color: #2399D5;
	cursor: pointer;
}
.reply-form {
	display: none;
}
.child1 {
	margin-left: 90px;
	border-right: 0;
	border-bottom: 0;
}
.nocomment {
	display: flex;
	width: 100%;
	justify-content: center;
	align-items: center;
	margin: 30px 0;
	font-family: 'Amaranth', sans-serif;
	font-size: 24px;
	font-style: italic;
}

@media all and (max-width: 600px) {
	.child1 {
		margin-left: 0;
	}
}

@media all and (max-width: 414px) {
	.r-middle {
		font-size: 12px;
		padding-right: 15px;
	}
	.comment-wrap {
		padding: 15px;
	}
}

@media all and (max-width: 360px) {
	.cw-img {
		display: none;
	}
	.cw-right {
		width: 100%;
	}
}