@media screen and (max-width: 1024px) {
	.one-news {
		width: 90% !important;
	}
	.news-title {
		font-size: 18px !important;
	}
}

@media screen and (max-width: 414px) {
	.on-left {
		display: none;
	}    
	.on-right {
		justify-content: space-between;
		width: 100%;
	}
	.one-news {
		height: 350px;
	}
}

@media screen and (max-width: 320px) {
	.news-title {
		font-size: 15px !important;
		max-height: 112px;
	}
	.news-desc {
		font-size: 12px;
	}
}
