@media all and (max-width: 1366px) {
	h1, p {
		font-size: 15px !important;
	}
}

@media screen and (max-width: 600px) {
	.hexa-box {
		width: 80%;
	}
	h1, p {
		font-size: 13px !important;
	}
	.lightblue > p {
		font-size: 12px !important;
	}
}

@media all and (max-width: 360px) {
	h1, p {
		font-size: 11px !important;
	}
	.lightblue > p {
		font-size: 11px !important;
	}
}